@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.headframe{
	background-color: darkorange;padding-top: 0.05%; 
	padding-bottom: 0.05%; 
	border: solid 1.5px black;
}
.txtdeconon{
	text-decoration: none;
}

body {
	background-color: #222;
}

.wrap {
	animation: fadein 3s forwards;
}

.top_wrap {
	padding-top: 2%;
	position: fixed;
	bottom: 0;
	right: 0;
}
.top_wraphome{
	margin-right: 2.2%;
	padding-top: 2%;
	position: absolute;
	top: 0;
	right: 0;
}

@keyframes fadein {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

.wara {
	transform: scale(0.9);
}

.container {
	display: flex;
	margin-top: 60px;
}

.item {
	width: 150px;
}

.item-2 {
	width: 160px;
	margin-left: 100px;
}

.inner_item {
	color: white;
}

.d-none {
	display: none;
}

.plate {
	width: 410px;
	margin: 5% auto;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #222;
}

.pstyle {
	font-weight: bold;
	font-size: large;
	background: linear-gradient(transparent 65%, yellow 30%);
}

.pstyle-1 {
	font-weight: bold;
	font-size: large;
	background: linear-gradient(transparent 65%, skyblue 20%);
}

.pstyle-2 {
	font-weight: bold;
	font-size: large;
	background: linear-gradient(transparent 65%, greenyellow 20%);
}

.pstyle-3 {
	font-weight: bold;
	font-size: large;
	background: linear-gradient(transparent 65%, orangered 20%);
}

.pstyle-4 {
	font-weight: bold;
	font-size: large;
	background: linear-gradient(transparent 65%, rgb(255, 0, 255) 20%);
}

.pstyle-w {
	font-weight: bold;
	background: linear-gradient(transparent 50%, rgb(255, 89, 85) 70%);
}
.pstyle-L {
	font-weight: bold;
	background: linear-gradient(transparent 50%, rgb(0, 128, 255) 70%);
}
.pstyle-M {
	font-weight: bold;
	background: linear-gradient(transparent 50%, rgb(0, 255, 64) 70%);
}
.pstyle-c {
	font-weight: bold;
	font-size: 38px;
	background: linear-gradient(transparent 50%, rgb(128, 0, 255) 70%);
}
.pstyle-o {
	font-weight: bold;
	font-size: 38px;
	background: linear-gradient(transparent 50%, rgb(0, 128, 0) 70%);
}
.pstyle-E {
	font-weight: bold;
	font-size: 38px;
	background: linear-gradient(transparent 50%, rgb(128, 0, 128) 70%);
}

.shadow {
	color: #fff;
	font-family: Arvo;
	font-weight: bold;
	text-shadow:
		-3px -3px 0 #222,
		3px -3px 0 #222,
		-3px 3px 0 #222,
		3px 3px 0 #222,
		4px 4px 0 #fff,
		5px 5px 0 #fff,
		6px 6px 0 #fff,
		7px 7px 0 #fff;
	line-height: 0.8em;
	letter-spacing: 0.1em;
	transform: scaleY(0.7);
	-webkit-transform: scaleY(0.7);
	-moz-transform: scaleY(0.7);
	margin: 0;
	text-align: center;
}

.script {
	font-family: "Seaweed Script";
	color: #fff;
	text-align: center;
	font-size: 40px;
	position: relative;
	margin: 0;
}

.script span {
	background-color: #222;
	padding: 0 0.3em;
}

.script:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	width: 100%;
	border-bottom: 3px solid #fff;
}

.text1 {
	font-size: 60px;
}

.text2 {
	font-size: 155px;
	position: relative;
	opacity: 0;
	/* 初めは透明に設定 */
	transform: translateY(100%);
	/* 下からスライドするために位置を下に設定 */
	animation: fadeInFromBottom 1s forwards;
	/* フェードインアニメーションの設定 */
}

.text3 {
	font-size: 100px;
}

.head {
	background-color: rgb(255, 128, 0);
	padding-bottom: 0.9%;
	border-radius: 30px;
	border: solid 2px whitesmoke;
}

.h1posi {
	padding-top: 2%;
	text-align: center;
	font-family: sans-serif;
	color: ghostwhite;

}

.fade-in-text {
	position: relative;
	font-size: 40px;
	opacity: 0;
	/* 初めは透明に設定 */
	transform: translateY(100%);
	/* 下からスライドするために位置を下に設定 */
	animation: fadeInFromBottom 1s forwards;
	/* フェードインアニメーションの設定 */
}

@keyframes fadeInFromBottom {
	to {
		opacity: 1;
		/* アニメーション終了時に完全に表示 */
		transform: translateY(0);
		/* アニメーション終了時の位置 */
	}
}

.A {
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
}

.B {

	display: none;
}

.C {
	display: block;
}

.edit-back-ground {

	border: solid;
}

.fon {
	font-size: 95%;
	font-weight: 900;
}

.prettyprint ol.linenums>li {
	list-style-type: decimal;
}

code {
	line-height: 1.2;
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.in {
	display: flex;
}

.box {
	border: solid 5px red;
	box-sizing: border-box;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
	font-size: 60px;
}

.resi {
	resize: both;
	overflow: auto;
}

.kaisetu {
	margin-top: 10px;
	padding-bottom: 10px;
}
.clicktxt {
color:#ffffff;
background-color: #4169e1;
padding:15px;
border-radius: 10px;
}

.switchdsp input {
display: none;
}
.switchdsp{
	margin-top: 10px;
}

.switchdsp .dsp {
padding: 0px 10px 0px 10px;
height: 0;
margin-top: 20px;
overflow: hidden;
transition: 0.9s;
opacity: 0;
}

.switchdsp input:checked ~ .dsp {
padding: 0px 25px 0px 25px;
height: auto;
opacity: 1;
}
.subbox {
	color: darkorange;
	font-size: 20px;
	margin-top: 1em;
	font-weight: 700;

}

select {
	border: solid 2px #222;
}

.subbox2 {
	color: darkorange;
	font-size: 20px;
	font-weight: 700;

}

.custom-btn {
	width: 200px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
}

.btn-1 {
	background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
	line-height: 42px;
	padding: 0;
	border: none;
	margin-bottom: 1.3em;
	margin-right: 1.2em;
}


.btn-1 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.btn-1:before,
.btn-1:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: rgba(251, 75, 2, 1);
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}

.btn-1:before {
	height: 0%;
	width: 2px;
}

.btn-1:after {
	width: 0%;
	height: 2px;
}

.btn-1:hover {
	color: rgba(251, 75, 2, 1);
	background: transparent;
}

.btn-1:hover:before {
	height: 100%;
}

.btn-1:hover:after {
	width: 100%;
}

.btn-1 span:before,
.btn-1 span:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: rgba(251, 75, 2, 1);
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}

.btn-1 span:before {
	width: 2px;
	height: 0%;
}

.btn-1 span:after {
	height: 2px;
	width: 0%;
}

.btn-1 span:hover:before {
	height: 100%;
}

.btn-1 span:hover:after {
	width: 100%;
}

.btn-2 {
	background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
	color: white;
	border: none;
}

.btn-2 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.btn-2:before,
.btn-2:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: rgba(251, 75, 2, 1);
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}

.btn-2 span:before,
.btn-2 span:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: rgba(251, 75, 2, 1);
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}

.btn-3 {
	background: linear-gradient(0deg, rgb(128, 128, 255) 0%, rgb(0, 0, 160) 100%);
	color: white;
	line-height: 42px;
	border: none;
	padding: 0;
	margin-bottom: 1.3em;
}

.btn-3 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.btn-3:before,
.btn-3:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: rgb(128, 128, 255);
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}
.btn-3:before {
	height: 0%;
	width: 2px;
}

.btn-3:after {
	width: 0%;
	height: 2px;
}

.btn-3:hover {
	color: rgb(0, 0, 160);
	background: transparent;
}

.btn-3:hover:before {
	height: 100%;
}

.btn-3:hover:after {
	width: 100%;
}

.btn-3 span:before,
.btn-3 span:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: rgb(0, 0, 160);
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}

.btn-3 span:before {
	width: 2px;
	height: 0%;
}

.btn-3 span:after {
	height: 2px;
	width: 0%;
}

.btn-3 span:hover:before {
	height: 100%;
}

.btn-3 span:hover:after {
	width: 100%;
}

.frame {
	width: 97.5%;
	/* 幅指定 */
	height: 100%;
	/* 高さ指定 */
	border: dashed 4px darkorange;
	/* 枠線指定 */
	background-color: #fff9f4;
	/* 背景色指定 */
	border-radius: 10px;
	/* 角丸指定 */
	padding: 13px;

}
.btn-container {
  text-align: center;
}

button {
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: bold;

  /* ボタンにカーソルを当てると、カーソルがポインターに変わる */
  cursor: pointer;
}

/* ボタンにカーソルを当てたとき、ボタンを半透明にする */
button:hover {
 opacity: 0.7;
}

/* ポップアップメッセージを隠す */
.hidden {
  display: none;
}

/* ポップアップメッセージを画面右下に配置 */
#btntrans-text {
  height: 100px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #ddd;
  font-weight: bold;
  position: fixed;
  right: 5%;
  bottom: 10%;
}

/* ポップアップアニメーションを3秒かけて実行 */
.popup-message {
  animation: popup 9s forwards;
}

@keyframes popup {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  10%, 90% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(15%);
    opacity: 0;
    pointer-events: none;
  }
}